html, body{
  margin: 0;
  padding: 0;
}

header{
    background: #2F3061;
}
h1 {
    text-align: center;
    font-weight: bold;
    color: #F0F0F0;

}
h4{
    text-align: center;
    color: #F0F0F0;
}
#box1{
    float: left;
    width: 170px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}
#box2{
    float: left;
    width: 170px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}

#box3{
    float: left;
    width: 170px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}
#box4{
    float: left;
    width: 170px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}
#box5{
    float: left;
    width: 170px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}
#box6{
    float: left;
    width: 170px;
    margin-top:50px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}
#box7{
    float: left;
    width: 170px;
    margin-top:50px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}
#box8{
    float: left;
    width: 170px;
    margin-top:50px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}
#box9{
    float: left;
    width: 170px;
    margin-top:50px;
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    text-align: center;

}
